.region {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 60px 80px;
  gap: 40px;
}

.region__title {
  font-family: var(--font-family-fredericka-the-great);
  font-weight: 400;
  font-size: 4.5rem;
}

.region__departments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.region__department {
  width: 30%;
  min-width: 400px;
  position: relative;
  display: flex;
  cursor: pointer;
}

.region__department-image {
  width: 100%;
}

.region__department-name {
  position: absolute;
  color: white;
  font-family: var(--font-family-grandstander);
  font-size: 3.2rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: scale 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
}

.region__department:hover .region__department-name {
  scale: 1.1;
}

@media (max-width: 549px) {
  .region__department {
    width: 100%;
    min-width: 300px;
    position: relative;
    display: flex;
    cursor: pointer;
  }
}

@media (max-width: 449px) {
  .region__title {
    font-size: 4.1rem;
  }

  .region__department-name {
    font-size: 2.9rem;
  }
}
