.chat-miskito {
  width: 100%;
  height: calc(100vh - 115px);
  padding: 0 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.chat-miskito__chat-introduction {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: justify-content 0.3s ease-in-out;
}

.chat-miskito__chat-introduction--move {
  justify-content: space-around;
}

.chat-miskito__introduction {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.chat-miskito__introduction--disappear {
  display: none;
}

.chat-miskito__paragraph {
  width: 300px;
  font-family: var(--font-family-cabin-sketch);
  font-size: 1.8rem;
  text-align: center;
  text-shadow: var(--shadow-text-orange-brown);
}

.chat-miskito__image {
  height: 65%;
}

.chat-miskito__chat {
  width: 900px;
  max-height: 65vh;
  overflow-y: auto;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  transform: translateX(250%);
  transition: position 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.chat-miskito__chat--show {
  position: static;
  transform: translateX(0);
}

.chat-miskito__conversation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chat-miskito__message {
  padding: 15px;
  border-radius: 8px;
}

.chat-miskito__message--user {
  background-color: var(--color-orange-brown);
  align-self: flex-end;
}

.chat-miskito__message--miskito {
  background-color: var(--color-pink-beige);
  align-self: flex-start;
}

.chat-miskito__message--miskito ul,
.chat-miskito__message--miskito ol {
  padding-left: 40px;
}

.chat-miskito__input-box {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
}

.chat-miskito__input {
  width: 100%;
  position: relative;
  height: 55px;
  padding: 0 60px 0 20px;
  border: 2px solid var(--color-orange-brown);
  border-radius: 12px;
  outline: none;
  font-size: 1rem;
  font-family: var(--font-family-fredericka-the-great);
}

.chat-miskito__send-button {
  display: flex;
  position: absolute;
  right: 25px;
  cursor: pointer;
  background: none;
  border: none;
}

.chat-miskito__send-button-icon {
  color: var(--color-orange-brown);
  font-size: 1.5rem;
}

/* MEDIA QUERIA PARA EL HEIGHT */
@media (max-height: 820px) {
  .chat-miskito__paragraph {
    width: 400px;
    font-size: 1.75rem;
  }

  .chat-miskito__chat-introduction {
    height: 75vh;
  }
}

@media (max-width: 1599px) {
  .chat-miskito__chat-introduction {
    gap: 50px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .chat-miskito {
    padding: 0 60px;
  }

  .chat-miskito__image {
    height: 55%;
  }

  .chat-miskito__input-box {
    width: 70%;
  }
}

@media (min-width: 0px) and (max-width: 479px) {
  .chat-miskito {
    padding: 0 30px;
  }

  .chat-miskito__paragraph {
    width: auto;
    font-size: 1.7rem;
  }

  .chat-miskito__image {
    height: 45%;
  }

  .chat-miskito__input-box {
    width: 75%;
  }
}
