.miskito {
  width: auto;
  /* border: 1px solid red; */
  position: fixed;
  display: flex;
  align-items: center;
  user-select: none;
  /* bottom: 60px; */
  z-index: 2;
}

/* Posiciones de la Caja para Miskito */
/* .miskito__box-position--left {
  left: auto;
} */

.miskito__box-position--right {
  right: 30px;
  bottom: 5vh;
  flex-direction: row-reverse;
}
/* --- */

.miskito__image {
  cursor: pointer;
  height: 20vh;
  transition: scale 0.35s ease-in-out;
}

/* Tamaños para la IMG de Miskito */
/* .miskito__image-size--home-region {
  height: 20vh;
}

.miskito__image-size--region-section {
  height: 20vh;
} */
/* --- */

.miskito__image:hover {
  scale: 1.15;
}

.miskito__text {
  font-family: var(--font-family-cabin-sketch);
  color: white;
  background-color: var(--color-opaque-red);
  text-align: center;
  align-content: center;
  user-select: none;
  height: 40px;
  padding: 0 18px;
  border-radius: 5px;
  opacity: 0;
  transform: translateX(60px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.miskito__text--show {
  opacity: 1;
  transform: translateX(-5px);
}

@media (min-width: 1600px) {
}
@media (min-width: 1200px) and (max-width: 1599px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 991px) {
  .miskito__image {
    height: 17vh;
  }
}
@media (min-width: 520px) and (max-width: 767px) {
  .miskito__image {
    height: 17vh;
  }

  .miskito__box-position--right {
    right: 20px;
    bottom: 4vh;
  }
}

@media (max-width: 519px) {
  .miskito__image {
    height: 15vh;
  }

  .miskito__box-position--right {
    right: 10px;
    bottom: 3vh;
  }
}
