:root {
  --color-orange-brown: #cd853f;
  --color-opaque-red: #cd3f3f;
  --color-pink-beige: #e2bc97;
  --shadow-text-opaque-red: 0 0 10px #cd3f3f;
  --shadow-text-orange-brown: 0 0 10px #cd853f;
  --font-family-cabin-sketch: "Cabin Sketch", sans-serif;
  --font-family-fredericka-the-great: "Fredericka the Great", serif;
  --font-family-gabriela: "Gabriela", serif;
  --font-family-grandstander: "Grandstander", cursive;
  --font-family-freckle-face: "Freckle Face", system-ui;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}
