.three-dot-loader {
  display: flex;
  gap: 8px;
}

.three-dot-loader__dot {
  width: 7px;
  height: 7px;
  user-select: none;
  border-radius: 50%;
  background-color: var(--color-opaque-red);
  opacity: 0;
  animation: disappearAndAppear 1.4s ease-in-out 0s infinite alternate;
}

.three-dot-loader__dot:first-child {
  animation-delay: 0s;
}

.three-dot-loader__dot:nth-child(2) {
  animation-delay: 300ms;
}

.three-dot-loader__dot:nth-child(3) {
  animation-delay: 600ms;
}

@keyframes disappearAndAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
