.background {
  width: 100%;
  min-height: calc(100vh - 115px);
  /* overflow: hidden; */
  background-image: url(./assets/images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
